/venv/
/Lesson_2.py
/Lesson_3.py
/Lesson_4.py
/Lesson_5.py
/Lesson_6.py
/Lesson_7.py
/Lesson_8.py
/Lesson_9.py
/Lesson_10.py
/Lesson_11.py
/Lesson_12.py
/Lesson_12_file.txt
/Lesson_13.py
/Lesson_14.py
/Test.py
/DZ/
.idea