{% extends 'index.html' %}

{% block content %}
<form action="/weather/result/">
    Введите город <input type="search" name="city" required>
    <button>Поиск</button>
</form>
<br>
{% if error %}
    <p>Город не найден, попробуйте ещё раз</p>
{% endif %}
{% if city %}
<h1>Weather in {{ city }}</h1>
    <div>
        <p> Status: {{ status }} </p>
        <p> Wind: {{ wind }} </p>
        <p> Temp: {{ temp }} </p>
        <p> Clouds: {{ clouds }}% </p>
    </div>
{% endif %}
{% endblock content %}