<style>
    .active-link {
        background: rgb (0, 0, 255);
        padding: 15px;
        font-weight: bold;
    }
    a {
        font-size: 25px;
        color: #1c19b3;
        font-style: italic:
        border: 2px dashed red;
        padding: 15px;
    }
</style>
<a href="http://127.0.0.1:8000" {% if page == 'home' %} class='active-link' {% endif %}>Home</a> |
<a href="http://127.0.0.1:8000/parser/" {% if page == 'parser' %} class='active-link' {% endif %} >Parse vocation</a>|
<a href="http://127.0.0.1:8000/weather/" {% if page == 'weather' %} class='active-link' {% endif %} >Weather</a> |
<a href="http://127.0.0.1:8000/users/login" {% if page == 'login' %} class='active-link' {% endif %} >Login</a> |
<a href="http://127.0.0.1:8000/users/register" {% if page == 'register' %} class='active-link' {% endif %} >Register</a>
<br><br>