{% extends 'index.html' %}

{% block content %}
<form action="/parser/search/">
    Поиск <input type="search" name="keyword" required>
    <button>Поиск</button>
</form>
<br>
{% if keyword %}
<h1>Data from rabota data</h1>
{% for vac in vacancies_rb %}
    <div>
        <p> Name :{{ vac.name }} </p>
        <p> Salary - <b>{{ vac.salaryFrom }} - {{ vac.salaryTo }} </b> </p>
        <p> City - {{ vac.city }} </p>
        <p> Desc : {{ vac.shortDescription }} </p>
    </div>
<hr>
{% endfor %}
{% endif %}
{% endblock content %}